h2 {
	font-family: "Poppins";
	font-size: 36px;
	margin-bottom: 15px;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	color: rgba(34, 34, 34, 0.5);
	margin-bottom: 25px;
	margin-top: 0px;
}

h3,
span,
p {
	font-family: "Avenir";
}

.profile_container
 {
	margin: 60px 100px 0px;
	max-width: 900px;
	display: flex;
	overflow-x: hidden;
}

.profile_img-LG {
	height: 400px;
	width: 300px;
	border-radius: 40px;
	object-fit: cover;
	object-position: 50% 50%;
	background-position: 40% 50%;
}

.flag_wrapper {
	width: 50px;
	height: 50px;
	background-color: #f2f2f2;
	border-radius: 100%;
	position: relative;
	top: -70px;
	left: 230px;
}

.flag {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
}

.description {
	margin-bottom: 30px;
	margin-top: 0px;
}

.profile_img_section {
	margin-right: 50px;
}

.profile_desc_section {
	display: flex;
	flex-direction: column;

	margin-left: 50px;
}

.interests_item {
	display: inline-block;
	padding: 5px 15px;
	margin-right: 7.5px;
	margin-bottom: 10px;
	line-height: 35px;
	background-color: #e6e6e6;
	border-radius: 5px;
	color: rgba(34, 34, 34, 0.5);
}

ul {
	padding: 0px;
}

li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}

li p {
	margin-left: 30px;
	color: rgba(34, 34, 34, 0.5);
}

@media screen and (max-width: 1000px) {
	.profile_container
 {
		margin: 60px 33px 0px;
	}

	.profile_container {
		flex-direction: column;
	}

	.profile_img_section {
		margin: 0 auto;
	}

	.profile_img-LG {
		width: 300px;
		height: 300px;
		border-radius: 100%;
	}

	.flag_wrapper {
	}

	.profile_desc_section {
		margin-left: 0px;
		margin-bottom: 10px;
		margin-top: -40px;
	}
}
